body{
margin:0;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:#111;
}

.tv{
position:relative;
width:420px;
}

/* SCREEN */
.tv-screen{
position:absolute;
left:8%;
top:8%;
width:78%;
height:78%;
object-fit:cover;
z-index:0;
opacity:.8;
}

/* VIDEO */
.tv-video{
position:absolute;
left:8%;
top:8%;
width:78%;
height:78%;
object-fit:cover;
z-index:1;
opacity:0;
}

.on .tv-video{
opacity:1;
}

/* STATIC */
.tv-static{
position:absolute;
left:8%;
top:8%;
width:78%;
height:78%;
z-index:2;
background:
repeating-linear-gradient(
0deg,
white 0px,
black 2px,
transparent 4px
);
opacity:0;
}

.staticburst .tv-static{
animation:burst .6s;
}

@keyframes burst{
0%{opacity:1}
100%{opacity:0}
}

/* SCANLINES */
.tv::before{
content:"";
position:absolute;
left:8%;
top:8%;
width:78%;
height:78%;
z-index:3;
background: repeating-linear-gradient(
to bottom,
rgba(0,0,0,.4) 0px,
transparent 3px
);
}

/* STARTUP SWEEP */
.startup .tv-static{
opacity:1;
animation:sweep 1.5s ease-out;
}

@keyframes sweep{
0%{
transform:scaleY(.05);
}
100%{
opacity:0;
}
}

/* FRAME */
.tv-frame{
width:100%;
z-index:4;
position:relative;
}

/* PLAY BUTTON */
.play-btn{
position:absolute;
left:8%;
top:8%;
width:78%;
height:78%;
z-index:5;
border:none;
background:none;
cursor:pointer;
}

.play-btn::before{
content:"";
position:absolute;
inset:0;
margin:auto;
width:70px;
height:70px;
border-radius:50%;
background:rgba(0,0,0,.6);
}

.play-btn::after{
content:"";
position:absolute;
top:50%;
left:50%;
transform:translate(-40%,-50%);
border-left:25px solid white;
border-top:15px solid transparent;
border-bottom:15px solid transparent;
}
