html, body{
  margin:0;
  padding:0;
}

body{
  background-image: url("scrotpunch.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;

  min-height: 2400px; /* adjust to match image height */

  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color:#000;
}

.content{
  max-width: 900px;
  margin: 0 auto;
  padding: 48px 18px;
}
