@@ -4,7 +4,7 @@ html, body{
}

body{
  background: url("scrotpunch.png") center / cover no-repeat;
  background: url("scrotback.png") center / cover no-repeat;

  min-height: 100vh;
  min-height: 100svh; /* better on iPhone Safari */
