html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
  background: url("scrotback.png") center / cover no-repeat;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: #000;
}

.content{
  max-width: none;
  margin: 0;
  padding: 12px;
}

/* TV wrapper */
.tv{
  position: relative;
  display: inline-block;
  width: min(420px, 95vw);
}

/* TV frame image */
.tv-frame{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

/* Video inside TV */
.tv-video{
  position: absolute;
  z-index: 1;

  left: 8.5%;
  top: 8%;
  width: 78%;
  height: 78%;

  object-fit: cover;
  border: none;
}

/* ===== CUSTOM PLAY BUTTON ===== */

.play-btn{
  position: absolute;
  z-index: 3;

  left: 8.5%;
  top: 8%;
  width: 78%;
  height: 78%;

  background: transparent;
  border: none;
  cursor: pointer;
}

/* circle */
.play-btn::before{
  content:"";
  position:absolute;
  inset:0;
  margin:auto;
  width:80px;
  height:80px;
  border-radius:50%;
  background: rgba(0,0,0,.35);
}

/* triangle */
.play-btn::after{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-35%,-50%);
  border-left: 26px solid white;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

