html, body{
  height: 100%;
  margin: 0;
}

body{
  background: url("scrotback.png") center / cover no-repeat;

  min-height: 100vh;
  min-height: 100svh; /* better on iPhone Safari */

  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: #000;
}

.content{
  max-width: 900px;
  margin: 0 auto;
  padding: 48px 18px;
}
